<footer id="footer">
    <p class="copyright">&copy; <a href="https://hendersonsargeant.netlify.app" target="_blank" class="profile">Henderson Sargeant</a>All rights reserved.</p>
</footer>
<script src="js/main.js"></script>
</body>
</html>