<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/x-icon" href="icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movie Rank</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link href="css/style.css" rel="stylesheet" />
    </head>
    <body class="dark-mode">
            <div class="container">
                <header class="center">
                    <nav>
                        <ul>
                            <li><a class="addLink" id="addMovie">Add Your Favorite Movies</a></li>
                            <li><a class="aboutMenu">About</a></li>
                            <%if(!user){%>

                            <li><a href="/login" class="login">Login</a></li>
                            <%}%>

                            <%if(user){%>
                                <li><a href="/profile" class="login">Profile</a></li>
                                <li><a class="logout">Logout</a></li>
                            <form action="/logout" method="POST" id="logoutForm" class="hide"></form>

                            <%}%>
                            <li id="themeSwitch" class="fa fa-solid fa-sun"></li>
                            <li id="themeSwitchDark" class= "fa fa-solid fa-moon hide" ></li>
                        </ul>
                    </nav>
                    <h1 class="hide">Movie Rank</h1>
                    <div class="logos">
                        <img class="mainLogo hide" src="logo.png" alt="Movie Rank logo" >
                        <img class="mainLogo lightLogo" src="logo-light.png" alt="Movie Rank logo" >
                    </div>
                </header>