* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: #151515;
}
body{
    height: 100vh;
    background: #eee;

}

.light,.liked.light{
    color:#333;
}

a{
    color: #f7f7ed;
    text-decoration: none;
    font-weight: bold;
}
a.light{
    color:#333
}


a:hover{
    /* font-size: 1.1em; */
    font-weight: bold;
    border-bottom: #f7f7ed solid 1px;

}
a.light:hover{
    font-weight: bold;
    border-bottom: #333 solid 1px;

}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}
header.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
}

header nav{
    width: 100%;
    display: flex;
}
.mainLogo {
    width: 400px;
}
header nav ul{
    display: flex;
    align-items: left;
    width: 400px;
    justify-content: space-between;
    /* margin:2% 0; */
    padding: 1% 0;
    list-style: none;
    font-size: 1.125em;
}

.search {
    height: 50px;
}
input[type="search"] {
    display: block;
    padding: 10px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px #333 solid;
    background-color: transparent;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    gap: 1rem;
}
.card {
    height: 420px;
    /* background-color: white; */
}

.card img {
    width: 100%;
    height: 79.71428%;
}

.card li {
    list-style: none;
    padding-bottom: 5px;
}
.card h2 {
    font-size: 18px;

}

.docImg {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.fa-thumbs-up,.fa-trash,.fa-sun,.fa-moon{
    cursor: pointer;
}
.no-like{
    color: #f7f7ed67;
}
.no-like.light{
    color: #3333337f;
}

/* .fa.fa-thumbs-up.nolike.light{
    color:rgba(51, 51, 51, 0.667)
} */


.no-like:hover{
    color: #f7f7ed;
    font-size: 1.2em;
}
.no-like.light:hover{
    color: #333;
    font-size: 1.2em;

}
footer{
    margin-top: 25px;
    padding: 25px 0 ;
    width:100%;
    text-align: center;
}
footer a{
    margin-right: 1em;
}
footer.light a{
    color:#333;
}


.count{
    display: block;
    position: relative;
    top:20px;
    background-color: black;
    /* padding: 0 5% 0 5%; */
    /* border-radius: 50%; */
    height: 20px;
    width: 20px;
    text-align: center;
    color: #f7f7ed;
}
.count.light{
    color: black;
    background-color: #f7f7ed;
}
span.count.first-place{
   background-color: gold;
   color:black;

}
span.count.second-place{
    background-color: #c0c0c0;
    color:black;

 }
 span.count.third-place{
    background-color: #cd7F32;
    color:black;
 }

.hide{
    display: none !important;
}
.aboutPopup, .addMovie{
    
    width: 100%;
    height: 100%;
    background-color: rgba(14, 13, 13, 0.96);
    color: white;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    overflow:hidden;
}
.popUpSection{
    display: flex;
    flex-direction: column;
    width: 60%;
    height:60%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    
}
.popUpSection p {
    font-size: 1.3em;
    line-height: 1.8;
    color: rgb(243, 243, 243)
  }
  .popUpSection h1 {
    font-size: 1.7em;
    padding: 5px;
    color: rgb(245, 245, 245);
  }

.aboutMenu:hover, .addLink:hover{
    border-bottom: #f7f7ed solid 1px;
    cursor:pointer;    
}
.aboutMenu.light:hover, .addLink.light:hover{
    border-bottom: #333 solid 1px;
    cursor:pointer;    
}

.card .longName{
    font-size: 1em;
}

.closeAbout, .closeAdd{
    margin-top: 2%;
    background-color:rgb(175, 169, 169);
    border-radius: 2px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 1.125em;
}

.addMovie input{
        padding: 10px;
        font-size: 1em;
        border: 0;
        cursor: pointer;
        background-color: #f6f6f3;
}
.addMovie input+input{
   width:185px;
}
.addMovie input[type="submit"]{
    padding: 10px;
    font-size: 1em;
    border: 0;
    background-color:rgb(203, 201, 201);
    width: 75px;
}
.liked{
    color:#f7f7ed;
}
.dark-mode{
    background-color: #333;
    color: #f7f7ed;
}
.dark-mode input[type="search"]{
    color: #f7f7ed;
    border-bottom: #f7f7ed 1px solid;

}
.popUpSection h3{
    font-size: 1.8em;
    padding: 10px;
}
@media (max-width: 1000px) {
    .card h2{
        font-size: 1em;
    }
    .card .longName{
        font-size: 0.9em;
    }
}
@media (max-width: 950px) {
    .card{
      height: 325px;
    }
    .card .longName{
        font-size: 0.8em;
    }
  }
 @media (max-width: 776px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .card{
        height:400px;
        

    }
    .card .longName{
        font-size: 0.7em;
    }
 
} 
@media (max-width: 775px) {

 
    .card{
        height:450px;

    }


}
@media (max-width: 550px) {

 
    .card{
        height:400px;

    }

}

@media (max-width: 480px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        font-size: 1em;
    }
    .mainLogo {
        width: 300px;
    }
 
    .card{
        height:400px;

    }
    .card .longName{
        font-size: 0.9em;
    }
    .addMovie input+input {
        width: auto;
    }
    #submitMovie{
        margin-top:3px;
    }

}
@media (max-width: 420px) {
    .card{
        height:375px;

    }
    .card .longName{
        font-size: 0.8em;
    }

}

@media (max-width: 380px) {
    .card{
        height:350px;

    }

    footer{
        padding: 40px 0;
    }

}

